*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-cards{
    display: flex;
    flex-direction: row;
    margin: 30px;
    gap: 40px; 
   align-items: center;
   justify-items: center;
}

.card-titlee h3 h4{
    align-items: center;
}
/* .card img{
    border: 1px solid;
    border-bottom: 5px;
} */


